<nz-card  [nzBordered]="false" [nzCover]="coverTemplate" [nzActions]="[likeAction, deleteAction, editAction, restoreAction]">
    <nz-card-meta
      [nzTitle]="productInfo.name"
        [nzDescription]="productInfo.description"
    >
</nz-card-meta>

<label style="display: block;">${{productInfo.price}}</label>
<nz-rate style="display: block;" [ngModel]="productInfo.rating" nzAllowHalf nzDisabled></nz-rate>
<label style="display: block;">{{productInfo.in_stock === true ? 'In Stock' : 'Out of Stock'}}</label>
  </nz-card>
  <ng-template #coverTemplate>
    <img  alt="{{productInfo.title}}" [src]="imgPath + productInfo.image"/>
  </ng-template>
  <ng-template #likeAction >
    <i nz-icon nzType="heart" nzTheme="outline" *ngIf="like"></i>
  </ng-template>
  <ng-template #deleteAction >
    <i nz-icon nzType="delete" *ngIf="remove" nzTheme="outline" (click)="deleteData(productInfo.id);$event.stopPropagation()"></i>
  </ng-template>
  <ng-template #editAction >
    <i nz-icon nzType="edit" *ngIf="edit" nzTheme="outline" (click)="navigate(productInfo.id);$event.stopPropagation()"></i>
  </ng-template>
  <ng-template #restoreAction >
    <i nz-icon nzType="reload" *ngIf="restore" nzTheme="outline" (click)="restoreData(productInfo.id);$event.stopPropagation()"></i>
  </ng-template>

