::ng-deep .ant-card{
    margin-bottom: 20px;
    .ant-card-cover{
        width: 180px !important;
        height: 150px !important;
        overflow: hidden;
        margin: auto;
        img{
            width: 80%;
            height: auto;
            margin: auto;
        }
    }
    .ant-card-body{
        min-height: 180px;
        max-height: 300px;
    }
}